@media screen and (min-width: 815px) {
    .container {
        width: 680px;
        /* margin: 25px; */
    }

    .card {
        gap: 25px;
    }

    main {
        margin-top: 0;
        gap: 30px;
    }

    main p {
        margin-top: -10px;
    }

    #form {
        grid-template-columns: 60% 30%;
    }

    #note {
        text-align: left;
        margin-left: 35px;
    }

    footer {
        gap: 18px;
    }
}